#container {
    outline: 1px solid black;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 60px 305px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "title title title"
                        "game-area game-area game-area"
                        "start-reset player-info roll"
}

#game-area {
    position: relative;
    height: 300px;
    width: 500px;
    grid-area: game-area;
}

#canvas {
    height: 100%;
    width: 100%;
}

#background-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

#journey-info {
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    text-align: center;
    grid-area: title;
}

#journey-info {
    position: absolute;
    color: white;
    z-index: 10;
}

#player-info {
    grid-area: player-info;
}

#start-reset-buttons {
    text-align: center;
    /* align-self: flex-end; */
    grid-area: start-reset;
}

#roll {
    text-align: center;
    grid-area: roll;
}